/* You can add global styles to this file, and also import other style files */
html,
body {
  position: relative;
  margin: 0;
  user-select: none;
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: block;
  padding: 10px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  view-transition-name: header;
}
header, a {
  color: hotpink;
}

a {
  margin: 0 10px;
}

svg {
  position: absolute;
  height: 400px;
  width: 400px;
  cursor: pointer;
}
